<style>
    ul#menu-v, #menu-v ul
    {
        width:200px; /* Main Menu width */
        border:1px solid #cccccc;
        list-style:none; margin:0; padding:0;
        z-index:9;
    }

    #menu-v li
    {
        margin:0;padding:0;
        position:relative;
        background-color:#eeeeee; /*fallback color*/
        background-color:rgba(255,255,255,0.8);
        transition:background 0.5s;
    }
    #menu-v li:hover
    {
        background-color:rgba(255,255,255,0.5);
    }

    #menu-v a
    {
        font:normal 12px Arial;
        border-top:1px solid #cccccc;
        display:block;
        color:#444444;
        text-decoration:none;
        line-height:26px;
        padding-left:22px;
        position:relative;
    }

    #menu-v li:first-child a
    {
        border-top:0;
    }

    #menu-v a:hover{
        background-color: #2c618f;
        color: white;
    }

    #menu-v a.arrow::after{
        content:'';
        position:absolute;
        display:inline;
        top:50%;
        margin-top:-4px;
        right:8px;
        border-width:4px;
        border-style:solid;
        border-color:transparent transparent transparent black;
        transition:border-color 0.5s;
    }

    #menu-v li a.arrow:hover::after
    {
        background-color: #666;
        border-color:transparent transparent transparent mediumvioletred;
    }

    /*Sub level menu items
    ---------------------------------------*/
    #menu-v li ul {
        min-width: 180px; /* Sub level menu min width */
        position: absolute;
        display: none;
        left: 100%;
        top: 0;
    }

    #menu-v li:hover > ul
    {
        display:block;
    }

</style>
<div id="mainBody">
    <div class="container">
        <div class="row">
            <!-- Sidebar ================================================== -->
            <div id="sidebar" class="span3">
                <div class="well well-small">

                {% for cat in cats %}
                {{ cat|raw }}
                {% endfor %}
                </div>



                <div class="thumbnail">
                    <img src="{{ asset('uploads') }}/images/maxi5.jpg" alt="Bootshop panasonoc New camera"/>
                    <div class="caption">
                        <h5>Maxi Elbise</h5>
                        <h4><a class="btn" href="#"></a> <span class="pull-right">300 TL</span>
                        </h4>
                    </div>
                </div><br/>
                <div class="thumbnail">
                    <img src="{{ asset('uploads') }}/images/şapka2.jpg" title="Bootshop New Kindel" alt="Bootshop Kindel">
                    <div class="caption">
                        <h5>Siyah Kasket</h5>
                        <h4><a class="btn" href="#"></a> <span class="pull-right">300 TL</span>
                        </h4>
                    </div>
                </div><br/>
                <div class="thumbnail">
                    <img src="{{ asset('themes') }}/images/payment_methods.png" title="Bootshop Payment Methods" alt="Payments Methods">
                    <div class="caption">
                        <h5>Payment Methods</h5>
                    </div>
                </div>
            </div>
            <!-- Sidebar end=============================================== -->