

        <div class="row">
            <!-- Sidebar ================================================== -->
            <div id="sidebar" class="span3">
                <div class="well well-small">

               <nav class="navigation">
                   <ul class="mainmenu">

                       <li><a href="{{ path('userpanel_show') }}"><span class="icon-chevron-right"></span>Bilgilerim</a></li>
                       <li><a href="{{ path('userpanel_edit') }}"><span class="icon-chevron-right"></span>Düzenle</a></li>
                       <li><a href="{{ path('shopcart_index') }}"><span class="icon-chevron-right"></span>Sepetim</a></li>
                       <li><a href="{{ path('app_logout') }}"><span class="icon-chevron-right"></span>Çıkış</a></li>
                   </ul>
               </nav>
                </div>

            </div>
        </div>
     <!-- Sidebar end=============================================== -->
