{% extends 'frontbase.html.twig' %}

{% block title  %} Hakkımızda{{ data[0].title }}  {% endblock %}
{% block keywords %} {{ data[0].keywords }}  {% endblock %}
{% block description %} {{ data[0].description }}  {% endblock %}
{% block content %}


    <div class="container text-center">
        <hr class="soften">

        <h3> Hakkımızda</h3>
        <hr class="soften">
                <div class="row">

                    <div class="col-1-2 text-box">
                        <div class="inner">
                            <p>Gücünü denim köklerinden alan Mavi, uluslararası bir hazır giyim ve aksesuar markasına dönüşerek üstün kaliteli ürünlerini “perfect fit” felsefesiyle ileriye taşımaya devam ediyor. Perfect Fit, müşteri ihtiyaçlarını anlama, yakından izleme ve müşteriye fiyatını hak eden ürünler sunmaya imkân veriyor.</p>
                            <p>Denim sektöründe inovasyona dayalı premium ürünler geliştirme yetkinliği, Mavi'yi uluslararası jean pazarının üst segmentine taşıyan diğer bir faktör. Denim alanındaki teknoloji gelişimi ve inovasyonun dünya çapındaki öncülerinden biri olması, kalite ve fiyat seviyesini belirlemede Mavi'ye güç katıyor.</p>
                            <p>Adriano Goldschmied gibi denim uzmanlığı dünya çapında kabul gören tasarımcılarla çalışması ve satış noktalarındaki seçiciliği de marka imajını destekleyen unsurlar.Türk tekstil sektöründe marka ve tasarımcı iş birliğini ilk kez gerçekleştirerek, Perwoll, Clinique gibi markalarla önemli projelere imza atmıştır.
                                Başarılı tasarımcılar Zeynep Tosun, Hakan Yıldırım, Özgür Masur ve Yasemin Özilhan ile hazırlanan koleksiyonlar sayesinde her sezonda modaya öncülük etmiştir.
                                Her stil ve vücut tipi için farklı kesim ve kalıplarla hazırlanan Ipekyol Denim koleksiyonu, 2016 yılından beri kusursuz denim anlayışı ile mağazalarda ve ipekyol.com.tr’de satışa sunuluyor.
                                2006 yılında Edirne’de, tam 17 bin metrekare alan üzerine kurulan İpekyol Tekstil Fabrikası, içlerinde Aga Khan Mimarlık Ödülü’nün de bulunduğu pek çok prestijli mimarlık ödülüne lâyık görülmüştür.
                                Tasarımların hayata geçirildiği Şişli Bomonti’deki 10.200 metrekare alana sahip, 12 katlı akıllı bina, 2000 yılından beri yaklaşık 2 bin çalışanlıyla birlikte Ayaydın-Miroglio Grubu Merkez Ofisi olarak hizmet vermektedir.İlk mağaza İstanbul’da açıldı

                                1995 - Tasarıma ve üretime odaklanmak için organizasyon yeniden tasarlandı

                                1996 - Yurtdışında ilk mağaza - Münih’te

                                1999 - Franchise sistemi başlatıldı

                                2001 - Tasarım ekibimiz genişledi, ürün çeşitleri artırıldı, büyük ölçekli mağazalar açılmaya başlandı, Hızlı Moda markası olmaya dönük ilk adımlar atıldı

                                2002 - Orta Doğu, Rusya ve Balkanlarda yeni mağazalar açıldı

                                2005 - Türkiye’de 100, yurtdışında 39 mağazaya ulaştı

                                2009 - Türkiye'nin En Değerli Markalar listesinde 26. oldu (2. moda markası) (Türkiye’nin en büyük iş dergisi Capital tarafından değerlendirildi)

                                2010 - Tüm Koton mağazalarında canlı yayın yapan Koton Radyo kuruldu

                                2011 - Mayo koleksiyonuyla (Alessandra Ambrosio kampanyasıyla), Çocuk koleksiyonuyla ve Büyük Beden koleksiyonuyla bazı yeni kategorilere girdi 2012 - AVM Yatırımcıları Derneği’nin araştırmasında “En beğenilen ve en çok tercih edilen kadın giyim markası” seçildi Türkiye'nin önde gelen risk sermayesi şirketi, Turkven ile ortaklık kurdu.

                                2014 - Türk Süper Markalar listesine seçildi

                                2015 - Koton Güzellik markasıyla 150’den fazla ürünle kozmetik kategorisine girdi. Türk alışverişçiler tarafından “En Güvenilir Kadın Giyim Markası” seçildi. 2015 BrandSpark Türk Alışverişçiler araştırmasına göre.

                                Dördüncü kez AVM Yatırımcıları Derneği’nin araştırmasında “En beğenilen ve en çok tercih edilen kadın giyim markası” seçildi. Koton.com online alışveriş hizmeti sunmaya başladı.

                                2016 - Dünya moda ve perakende sektörünün deneyimli ismi Richard Isham Sardouk, Koton’da CCO görevine başladı. Isham Sardouk önderliğinde sezonun tasarım, renk, desen, kumaş ve trendlerini belirleyen Design Lab hayata geçti.

                                İddialı olduğumuz marka kategorilerimiz “Koton Jeans” ve “Koton Kids” mağazaları açıldı.

                                Romanya’daki ilk cadde mağazasını açan Koton, Romanya’daki mağaza sayısını 16’ya çıkardı.

                                Fransa(Paris), Hırvatistan, Fas ve Almanya(Hamburg)’da ilk Koton mağazaları açıldı. Kapsayıcı İş Modeli’ni hayata geçirerek “Koton El Emeği” koleksiyonunu müşterileriyle buluşturdu.

                                Koton.com açıldıktan sonraki ilk yılında 40 milyondan fazla trafiğe ve 20 milyondan fazla tekil kullanıcıya ulaştı.</p>
                        </div>
                    </div>

                </div>
            </div>



{% endblock %}