{% extends 'frontbase.html.twig' %}

{% block title  %} Şirket Bilgileri{{ data[0].title }}  {% endblock %}
{% block keywords %} {{ data[0].keywords }}  {% endblock %}
{% block description %} {{ data[0].description }}  {% endblock %}
{% block content %}

    <div class="container text-center">
        <hr class="soften">


        <h1>Şirket Bilgileri</h1>
        <hr class="soften">

                <div class="row">



            <div class="backoffice-icerik">
                <p>
                    <br>
                    <strong>NEDEN IPEKYOL KURUMSAL</strong></p>
                <p>
                    Ipekyol, yüzbinlerce kadının farklı beğenilerine seslenen Türk hazır giyim sektörünün saygın ve köklü kurumlarından biridir.</p>
                <p>
                    En çok arzu edilen kadın giyim ürünlerini ve aksesuarlarını tasarlayan, yurt içi ve yurt dışındaki mağazaları ile online satış kanalları üzerinden dünyanın dört bir yanında farklı alışveriş deneyimleri yaşatan Ipekyol; 1986 yılından bu yana modern kadının yaşam tarzına ilham veriyor. Çok uluslu bir marka olma hedefiyle ilerleyen Ipekyol, Türkiye’de en hızlı kabul gören ve pazar konumunu en kısa sürede pekiştiren markalar arasında ilk sıralarda yer alıyor. Bugün ise Ipekyol, Ipekyol Kurumsal hizmeti ile kalitesini iş ortaklarına sunmaktan mutluluk duyuyor. Şirketlere özel olarak hazırlanan Ipekyol Kurumsal avantajları ile iş ortaklarınıza, müşterilerinize ve çalışanlarınıza Ipekyol kalitesini yaşatabilirsiniz. Ipekyol kurumsal satış ekibimiz, ihtiyaçlarınız doğrultusunda oluşturacakları Ipekyol Ürün ve Hediye seçeneklerini görebilmeniz için sizi ofisinizde ziyaret edebilir veya mağazalarımızda ağırlayabilir.</p>
                <p>
                    <br>
                    <strong>Hizmet Verdiğimiz Alanlar </strong></p>
                <p>
                    · Kurumsal Üniforma<br>
                    · Kurum logolu özel tasarlanmış ürünler<br>
                    · Yılbaşı hediyeleri<br>
                    · Hediye Gift Kart<br>
                    &nbsp;</p>
                <!--<p>
                        <a class="m-indirim-btn" href="/kurumsal-lookbook-n_310" style=" height: 45px;padding:10px 20px; line-height: 45px; border: none; color: #fff; text-align: center; cursor: pointer; background-color: #BF2A51; font-weight: 300; font-size: 16px; font-family: 'Roboto', sans-serif;">Kurumsal Kataloğu İncele</a> <a class="m-indirim-btn" href="https://st-ipekyol.mncdn.com/ipekyol/Content/img/lookbook/kurumsalfw1516/kurumsal.pdf" style=" height: 45px;padding:10px 20px; line-height: 45px; border: none; color: #fff; text-align: center; cursor: pointer; background-color: #BF2A51; font-weight: 300; font-size: 16px; font-family: 'Roboto', sans-serif;" target="_blank">Kurumsal Kataloğu İndir</a></p>
                    <p>
                        &nbsp;</p>-->	<p>
                    <u><strong>Daha fazla bilgi almak için hemen bizi arayın:</strong></u></p>
                <p>
                    <strong>Esra AKPINAR</strong><br>
                    Kurumsal Satış Uzmanı /&nbsp;Corporate Sales Specialist<br>
                    Ayaydın Miroglio Group<br>
                    Kazım Orbay Caddesı No: 35 34320 Şişli Bomonti Istanbul<br>
                    Tel: +90 212 368 01 01 / ext:1415<br>
                    Mobile: +90 549 727 35 92</p>
            </div>
            <div class="row">

            </div>
                </div>
            </div>


{% endblock %}