{% extends 'frontbase.html.twig' %}

{% block title  %} Hakk覺m覺zda{{ data[0].title }}  {% endblock %}
{% block keywords %} {{ data[0].keywords }}  {% endblock %}
{% block description %} {{ data[0].description }}  {% endblock %}
{% block body %}


    <hr class="soften">
    <div>
        <h1>Hakk覺m覺zda</h1>
    </div>
    <hr class="soften">
    <div class="row">
        <div class="span12">


        </div>
    </div>

{% endblock %}